.item {
    padding: 5px;
    position: relative;
}

.item .item-action {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    color: #e0e0e0;
    cursor: pointer;
}

.item .item-action:hover {
    color: #d9534f;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.no-break {
    page-break-inside: avoid;
}

td.fit,
th.fit {
    width: 1%;
    white-space: nowrap;
}

td.number {
    text-align: center;
}

.strong {
    font-weight: bold;
}

.panel-heading {
    font-weight: bold;
}

pre.message {
    white-space: pre-wrap;
    word-break: normal;
}

@media not print {
    .print-only {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .panel {
        page-break-after: always;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .panel-heading {
        padding-left: 0;
        font-size: 150%;
    }

    .panel-default > .panel-heading {
        border-color: #808080;
    }

    .panel-body {
        padding: 10px 0 0;
        margin: 0;
    }

    .table thead {
        display: table-row-group;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-color: #808080;
    }

    hr {
        border-color: #808080;
    }

    .list-group-item {
        border: 1px solid #808080;
    }
}