.item {
    padding: 5px;
    position: relative;
}

.item .item-action {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    color: #e0e0e0;
    cursor: pointer;
}

.item .item-action:hover {
    color: #d9534f;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.no-break {
    page-break-inside: avoid;
}

td.fit,
th.fit {
    width: 1%;
    white-space: nowrap;
}

td.number {
    text-align: center;
}

.strong {
    font-weight: bold;
}

@media not print {
    .print-only {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .panel {
        page-break-after: always;
    }

    .table thead {
        display: table-row-group;
    }
}