<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funk Generator</title>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/jquery-3.1.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-app="funk-gen">
<div class="container" ng-controller="MainController as mainCtrl">
    <div class="title no-print">
        <h2>Funk Generator</h2>
    </div>

    <div class="panel panel-default no-print">
        <div class="panel-heading">
            Konfiguration
        </div>
        <div class="panel-body">
            <div ng-controller="VehicleConfigController as vehicleCtrl">
                <h2>Teilnehmer</h2>
                <div class="row">
                    <form ng-submit="vehicleCtrl.submitVehicle()">
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="vehicleName" ng-model="vehicleCtrl.vehicleName" placeholder="TSF-W Musterhausen" required>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="vehicleNumber" ng-model="vehicleCtrl.vehicleNumber" placeholder="Florian Musterhausen 1-41-01" required>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-default" style="width: 100%">Hinzufügen</button>
                        </div>
                    </form>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-3" ng-repeat="vehicle in vehicleCtrl.vehicles track by $index">
                        <div class="item panel panel-default">
                            <div class="item-action glyphicon glyphicon-remove" ng-click="vehicleCtrl.removeVehicle($index)"></div>
                            <strong>{{vehicle.name}}</strong><br>
                            <em>{{vehicle.number}}</em>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vehicleCtrl.vehicles.length == 0">
                        <div class="alert alert-info">Keine Teilnehmer angelegt.</div>
                    </div>
                </div>
            </div>

            <hr>

            <div ng-controller="ConfigurationController as configCtrl">
                <h2>Übung</h2>
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="configDuration">Übungsdauer in Minuten</label>
                                <input class="form-control" id="configDuration" ng-model="configCtrl.config.duration" type="number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="configInterval">Interval der Nachrichten in Minuten</label>
                                <input class="form-control" id="configInterval" ng-model="configCtrl.config.interval" type="number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="configDelay">Verzögerung zur Startzeit in Minuten</label>
                                <input class="form-control" id="configDelay" ng-model="configCtrl.config.delay" type="number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="configCtrl.config.multipleDestinations"> Sammelrufe erzeugen
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <div ng-controller="GenerateController as generateCtrl">
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <button type="submit" class="btn btn-primary" style="width: 100%" ng-disabled="!generateCtrl.canGenerate()" ng-click="generateCtrl.generate()">Generieren</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="mainCtrl.messages.length > 0">
        <div class="panel-heading">
            Funküberwachung
        </div>
        <div class="panel-body">
            <div ng-controller="SupervisorController as supervisorCtrl">
                Übungsdauer: {{supervisorCtrl.duration()}} Minuten<br/>
                Nachrichtenabstand: {{supervisorCtrl.interval()}} Minuten <br/>
                {{supervisorCtrl.vehicles()}} Funkstellen<br/>
                {{supervisorCtrl.messages()}} Nachrichten
            </div>

            <hr>

            <div ng-controller="MessagesController as msgCtrl" class="monospace">
                <ul class="list-group">
                    <li class="list-group-item no-break" ng-repeat="message in msgCtrl.messages track by $index">
                        <strong>x + {{message.offset}}</strong><br/>
                        <hr>
                        <p>
                            <span ng-repeat="dst in message.dst"><strong>{{msgCtrl.getVehicle(dst).number}}</strong><br/></span>
                            von <strong>{{msgCtrl.getVehicle(message.src).number}}</strong> &lt;{{message.announcement ? 'D' : 'G'}}&gt;<br/>
                            <pre>{{message.msg}}</pre>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="mainCtrl.messages.length > 0" ng-repeat="vehicle in mainCtrl.vehicles track by $index">
        <div class="panel-heading">
            {{vehicle.name}} - <em>{{vehicle.number}}</em>
        </div>
        <div class="panel-body monospace">
            <table class="table print-only">
                <thead>
                <tr>
                    <th class="fit">lfd.Nr.</th>
                    <th>Rufname</th>
                    <th>taktische Bezeichnung</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vehicle in mainCtrl.vehicles track by $index">
                    <td class="number">{{$index}}</td>
                    <td>{{vehicle.number}}</td>
                    <td>{{vehicle.name}}</td>
                </tr>
                </tbody>
            </table>

            <hr class="print-only">

            <div ng-controller="MessagesController as msgCtrl" class="monospace">
                <ul class="list-group">
                    <li class="list-group-item no-break" ng-repeat="message in (msgCtrl.messages | sender:$index) track by $index">
                        <span ng-class="{'strong': message.announcement}">({{message.announcement ? 'X' : ' '}}) Durchsage</span>&nbsp;&nbsp;<span>( ) Spruch</span><br/>
                        Anschrift: <strong ng-repeat="dst in message.dst">{{msgCtrl.getVehicle(dst).name}}<span ng-if="!$last">, </span></strong>
                        <pre>{{message.msg}}</pre>
                        Abfassungszeit: <strong>x + {{message.offset}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>